<h1>Current Campaigns</h1>  
<div class="main-table-container">  
       
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Campaign Name</th>
        <th>Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Event Size</th>
        <th>Number Of Session</th>
        <th>People Unmatched</th>
        <th>Languages</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
          <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                </label>
              </div>
        </td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>john@example.com</td>
      </tr>
      <tr>
          <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                </label>
              </div>
        </td>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>john@example.com</td>

      </tr>
      <tr>
          <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                </label>
              </div>
        </td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

